<div class="ranking-list" id="top5">
  <ul class="list-group list-ranking-best ranking-list">
    <% @places.each do |establishment, average| %>
    <li>
      <a href="/perfil/<%= establishment.id %>" class="list-group-item welcome-list">
        <h4 class="size-h4 list-group-item-heading address-padding">
          <%= establishment.name %>
          <span class="grade-on-list "><label class="concept <%= set_average_style(average) %> concept-pointer">
            <div class="<%= set_average_margin_top(average) %>">
              <%= average %>
            </div>
          </label>
        </h4>
        <p class="list-group-item-text address-padding">
          <%= establishment.address %>
        </p>
      </a>
    </li>

    <% end %>
  </ul>
</div>
