<!-- Desktop-->
<div class="hidden-xs visible-sm visible-md visible-lg">
  <nav class="footer-desktop">
    <div id="container" style="clear:both;">
      <div class="our-facebook">
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fnaomecalosite%2F&width=200&layout=standard&action=like&size=small&show_faces=true&share=false&height=80&appId=1685367745077455" width="200" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <div class="our-twitter">
          <a href="https://twitter.com/naomecalosite" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @naomecalosite</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
      <div class="align-footer-center">
        <div class="div-menu-footer">
          <%= link_to "Home", "/", :class => "a-without-underline-footer" %><span> | </span>
          <%= link_to "Apoio Legal", dicas_path, :class => "a-without-underline-footer"%><span> | </span>
          <%= link_to "Ranking", ranking_path, :class => "a-without-underline-footer"%><span> | </span>
          <%= link_to "Contato", faleconosco_path, :class => "a-without-underline-footer"%><span> | </span>
          <%= link_to "Quem somos", sobre_nos_path, :class => "a-without-underline-footer" %><span> | </span>
          <%= link_to "FAQ", faq_path, :class => "a-without-underline-footer"%><span> | </span>
          <%= link_to "Termos de Uso", termos_path, :class => "a-without-underline-footer"%>
        </div>
        <div class="share">
          <div class="row">
            Compartilhe o site nas redes sociais
          </div>
          <div class="share-buttons">
            <a class="spacing-to-share-button" href="http://www.facebook.com/sharer.php?u=http://naomecalotw-test.herokuapp.com/" target="_blank">
              <img class="small-square-share-button facebook-icon" src="https://whatswp.com/wp-content/uploads/2014/04/sh-150x150.png" alt="Facebook"  />
            </a>
            <a href="https://twitter.com/share?url=http://naomecalotw-test.herokuapp.com/&amp;text=<%= @share_aplication_text %>&amp;hashtags=naomecalo" target="_blank">
              <img class="small-square-share-button" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" alt="Twitter"  />
            </a>
          </div>
        </div>
        <%@share_aplication_text = "Conheça o site Não me Calo"%>
      </div>
      <div id="align-footer-right">
        <div class="contactus">
          Contato: contato@naomecalo.org
        </div>
      </div>
    </nav>
  </div>


  <!-- MOBILE -->
  <div class="visible-xs hidden-sm hidden-md hidden-lg">
    <nav class="footerMobile">
      <footer class="footerMobile-container">
        <div class="buttons-network">
          <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fnaomecalosite%2F&width=200&layout=standard&action=like&size=small&show_faces=true&share=false&height=80&appId=1685367745077455" width="200" height="80" style="border:none;overflow:hidden;margin-left: 26%;margin-top: 10px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          <div class="our-twitter-footer">
            <a href="https://twitter.com/naomecalosite" class="twitter-follow-button" data-show-count="false">Follow @naomecalosite</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
        </div>
        <div class="footerMobile-contact">
          Email para contato: contato@naomecalo.org
        </div>
        <div class="footerMobile-titulo">Compartilhe o site nas redes sociais</div>
        <div class=footerMobile-socialRedes>
          <a class="spacing-to-share-button" href="http://www.facebook.com/sharer.php?u=http://naomecalotw-test.herokuapp.com/" target="_blank">
            <img class="small-square-share-button" src="https://whatswp.com/wp-content/uploads/2014/04/sh-150x150.png" alt="Facebook"  />
          </a><a href="https://twitter.com/share?url=http://naomecalotw-test.herokuapp.com/&amp;text=<%= @share_aplication_text %>&amp;hashtags=naomecalo" target="_blank">
            <img class="small-square-share-button" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" alt="Twitter"  />
          </a>
        </div>
        <%@share_aplication_text = "Conheça o site Não me Calo"%>
      </footer>
    </nav>
  </div>
