<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/936687d01f.js"></script>
  <title><%= @establishment ? @establishment.name : "Não Me Calo" %></title>
  <meta http-equiv=”content-language” content=”pt-br”>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

  <% if params[:controller] == 'establishments' && params[:action] == 'ranking'%>
  <link rel="canonical" href="https://naomecalo.org/">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="Ranking de estabelecimentos" >
  <meta property="og:site_name" content="Nao me calo">
  <meta property="og:url" content="https://naomecalo.org/ranking/" >
  <meta property="og:description" content="Confira o ranking dos estabelecimentos mais ou menos amigáveis para grupos oprimidos" >
  <meta property="og:image" content="" >
  <meta property="og:type" content="website" >
  <meta property="og:locale" content="pt_BR" >
  <% else %>
  <link rel="canonical" href="https://naomecalo.org/">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="<%= !@rating.nil? ? !@rating.establishment.nil? ? @rating.establishment.name : 'Não Me Calo' : 'Nao Me Calo'%>" >
  <meta property="og:site_name" content="Nao me calo">
  <meta property="og:url" content="<%= !@rating.nil? ? !@rating.establishment.nil? ? 'https://naomecalo.org/relato/'+@rating.id.to_s+'' : 'https://naomecalo.org/' : 'https://naomecalo.org/' %>" >
  <meta property="og:description" content="<%= !@rating.nil? ? @rating.description : 'Conheça o site Não Me Calo' %>" >
  <meta property="og:image" content="" >
  <meta property="og:type" content="website" >
  <meta property="og:locale" content="pt_BR" >
  <% end %>


  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N7TQSP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N7TQSP');</script>
  <!-- End Google Tag Manager -->
  <div class="header">
    <% if params[:controller] == 'welcome' && params[:action] == 'index'%>
    <%= render 'layouts/header_home' %>
    <% else %>
    <%= render 'layouts/header_small' %>
    <% end %>
  </div>
  <div class="wrapper">

    <section>
      <div id="buttons-enhance">
        <%= submit_tag "A+", :class =>"btn btn-warning form-group", :id =>"upperFontSizeButton" %>
        <%= submit_tag "A-", :class =>"btn btn-warning form-group", :id =>"lowerFontSizeButton" %>
      </div>
      <div class="container-fluid">
        <%= yield %>
      </divthub>
    </section>
    <div class="push"></div>
  </div>
  <div class="footer">
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
